body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

.page-boundary {
  max-width: 1200px;
  margin: auto;
}

#companyName {
  font-family: "Monofett", cursive;
  font-size: 2rem;
}

#landingDiv {
  background-image: url("https://image.ibb.co/joTWgU/twentyhorizontal.jpg");
  color: white;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landingHeadline {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.75rem;
  text-shadow: 0.5px 0.5px black;
  padding-top: 3rem;
  text-align: center;
}

#landingSubtitle {
  margin: 2rem 5px;
  text-align: center;
  font-size: 1.25rem;
}

#landingButtonGroup {
  text-align: center;
}

.desktop-masonry {
  display: none;
}

.about-card-div {
  box-shadow: 1.5px 1.5px 5px gray;
}
.maroon-header-background {
  background: linear-gradient(to bottom right, #8d1f5e, #cd2d89, #8d1f5e);
  color: white;
}

.blue-header-background {
  background: linear-gradient(to bottom right, #003f74, #005faf, #003f74);
  color: white;
}

#votingTab {
  background: linear-gradient(to bottom right, #003f74, #005faf, #003f74);
  color: white;
}

#rankingsTab {
  background: linear-gradient(to bottom right, #003f74, #005faf, #003f74);
  color: white;
}

.choice-div {
  display: inline-block;
  position: relative;
  top: 0px;
  text-decoration: none;
  font-size: 25px;
  border: 1.5px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2.5px 0px #3d3d3d;
  -moz-box-shadow: 0px 2.5px 0px #3d3d3d;
  -ms-box-shadow: 0px 2.5px 0px #3d3d3d;
  -o-box-shadow: 0px 2.5px 0px #3d3d3d;
  box-shadow: 0px 2.5px 0px #3d3d3d;
  color: #222;
  -webkit-transition: All 100ms ease;
  -moz-transition: All 100ms ease;
  -o-transition: All 100ms ease;
  -ms-transition: All 100ms ease;
  transition: All 100ms ease;
}

.choice-div:active {
  position: relative;
  top: 2.5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 100ms ease;
  -moz-transition: All 100ms ease;
  -o-transition: All 100ms ease;
  -ms-transition: All 100ms ease;
  transition: All 100ms ease;
}

#votingJumbotron {
  background: linear-gradient(to bottom right, #003f74, #005faf, #003f74);
  color: white;
  border: 1px solid black;
  box-shadow: 1.5px 1.5px 5px gray;
}

.voting-div-background:focus {
  outline: 0;
}

.voting-div-background {
  background: linear-gradient(to bottom right, #989898, #f0f0f0, #989898);
  padding: 20px;
}

#skipMatchup {
  background-color: white;
}

#skipMatchup:focus {
  outline: 0;
}

ol {
  list-style: none;
  counter-reset: item;
}

.rankingListItem {
  counter-increment: item;
  margin-bottom: 5px;
}
.rankingListItem:before {
  margin-right: 10px;
  content: counter(item);
  background: linear-gradient(to bottom right, #003f74, #005faf, #003f74);
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

#nameInRankings {
  color: black;
}

@media screen and (min-width: 576px) {
  #companyName {
    padding-top: 0;
    font-size: 2.5rem;
  }

  #landingHeadline {
    margin: 0 20px;
    padding-top: 9rem;
    font-size: 2.5rem;
  }

  #landingSubtitle {
    margin-top: 1.5rem;
  }

  #landingButtonGroup {
    margin-top: 5rem;
  }

  #landingDiv {
    background-image: url("https://image.ibb.co/joTWgU/twentyhorizontal.jpg");
    color: white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .voting-div-background {
    min-height: 118px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-no-masonry {
    display: none;
  }

  .desktop-masonry {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #landingHeadline {
    font-size: 2.75rem;
  }
}
